{% extends 'bgmiapp/base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock %}
{% block header %}
<h1 class="word1">BATTLEGROUNDS <span class="word2">MOBILE</span> <span class="word3">INDIA</span></h1>
{% endblock %}

{% block content %}
<body>   
<div id="form_register">
    <h3>Register Here</h3>
    <br>
    <form method="POST" autocomplete="off"> 
        {% csrf_token %}
       <table>
        {{form.as_table}}
       </table>
       <br>
       <small class="text_muted">Already have an account? <a href="{% url 'login' %}">login</a></small>
       <div class="container">
        <button id="btn" type="submit" class="btn btn-success" style="float:right;">Register</button>
    </form>
</div>
{% endblock %}