{% extends 'bgmiapp/base.html' %}
{% load static %}
{% block title %}
    withdraw
{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/withdraw.css' %}">
{% endblock %}
{% block content %}

<h3>Withdraw</h3>
<br>
    <form method="POST"> 
        {% csrf_token %}
    <table class="table table-light table-bordered table-striped">
        {{form.as_table}}
    </table>
    <br>
        <div class="container"><button id="btn" type="submit"class="btn btn-success">Request Withdraw</button></div>
    </form>
{% endblock %}